<div *ngIf="!alert.closed" class="alert-dismissible fade show" role="alert" id="alertId">
  {{alert.message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>