<div class="row col m-0 p-0">
  <div class="row col m-0 p-0">
    <div class="row col-12 m-0 p-0 pt-2 pb-2">
      <h2>Rôles</h2>
    </div>
    <div class="row col-5 m-0 p-0">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th>Id</th>
            <th>Rôle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles">
            <td>{{role.id}}</td>
            <td>{{role.nom}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>