<div id="id02" class="container-fluid">
    <form name="myForm" method="post">
        <div id="id02" class="container-fluid animate">
            <div class="row">
                <div class="well center-block bg-light">
                    <div class="well-header">
                        <h3 class="text-center" style="color: black;"> Inscription </h3>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend col-md-12 col-xs-12 col-sm-12">
                                    <div class="input-group-text bg-primary">
                                        <fa-icon class="icon color" [icon]="faUser"></fa-icon>
                                    </div>
                                    <input type="text" placeholder="Nom" name="txtfname" class="form-control" required
                                        [(ngModel)]="utilisateur.nom">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend col-md-12 col-xs-12 col-sm-12">
                                    <div class="input-group-text bg-primary">
                                        <fa-icon class="icon color" [icon]="faUser"></fa-icon>
                                    </div>
                                    <input type="text" placeholder="Prénom" name="txtlname" class="form-control"
                                        required [(ngModel)]="utilisateur.prenom">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend col-md-12 col-xs-12 col-sm-12">
                                    <div class="input-group-text bg-primary">
                                        <fa-icon class="icon color" [icon]="faUser"></fa-icon>
                                    </div>
                                    <input type="text" placeholder="Nom d'utilisateur" name="txtlname"
                                        class="form-control" required [(ngModel)]="utilisateur.username">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend col-md-12 col-xs-12 col-sm-12">
                                    <div class="input-group-text bg-primary">
                                        <fa-icon class="icon color" [icon]="faLock"></fa-icon>
                                    </div>
                                    <input type="password" minlength="8" maxlength="20" placeholder="Mot de passe"
                                        name="txtpass" class="form-control" required [(ngModel)]="utilisateur.password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend col-md-12 col-xs-12 col-sm-12">
                                    <div class="input-group-text bg-primary">
                                        <fa-icon class="icon color" [icon]="faEnvelope"></fa-icon>
                                    </div>
                                    <input type="email" class="form-control" name="txtmail" placeholder="E-Mail"
                                        required [(ngModel)]="utilisateur.adresseMail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend col-md-12 col-xs-12 col-sm-12">
                                    <div class="input-group-text bg-primary">
                                        <fa-icon class="icon color" [icon]="faCalendarAlt"></fa-icon>
                                    </div>
                                    <input type="date" name="dob" class="form-control" required
                                        [(ngModel)]="utilisateur.dateAge">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <button (click)="signup()" class="btn btn-primary btn-block"
                                [disabled]='utilisateur.nom.length==0 || utilisateur.prenom.length==0 || utilisateur.username.length==0 || utilisateur.adresseMail.length==0 || utilisateur.password.length==0'>
                                Inscription </button>
                            <button class="btn btn-danger btn-block" (click)="modalLoginClose()">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> 
