<div class="row col-12 m-0 p-0">
  <div class="row col-12 m-0 p-0">
    <div class="row col-12 m-0 p-0 pt-2 pb-2">
      <h2>Utilisateurs</h2>
    </div>
    <div class="row col-12 m-0 p-0">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th>Nom d'utilisateur</th>
            <th>Nom</th>
            <th class="resp-disp">Email</th>
            <th class="resp-disp">Role</th>
            <th>
              Info
            </th>
            <th>
              Etat
            </th>
            <th>
              Suppression
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let utilisateur of utilisateurs">
            <td>{{utilisateur.username}}</td>
            <td>{{utilisateur.nom}}</td>
            <td class="resp-disp">{{utilisateur.adresseMail}}</td>
            <td class="resp-disp">{{utilisateur.role.nom}}</td>
            <td>
              <a [routerLink]="['/gestion/utilisateur/detail']" [queryParams]="{idUser:utilisateur.id}">
                <fa-icon class="icon p-0" [icon]="faInfoCircle"></fa-icon>
              </a>
            </td>
            <td>{{utilisateur.actif}}</td>
            <td>
              <a (click)='deleteUtilisateur(utilisateur.id)'>
                <fa-icon id='trash' class="icon p-0" [icon]="faTrash"></fa-icon>
              </a>
           
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-success" routerLink="/">retour à l'accueil admin</button>
</div>