.cursorPointer {
    cursor: pointer;
}

.sticky-top {
  
   
        background-position: center;
       
        background-image: url("~src/assets/footer.jpg");
        background-size: cover;
        background-repeat: no-repeat; 
    }




.logo:hover {
    opacity: 1;
    transition: 2s;
}
#navbar{
    border-radius: 15px;
    background-color: #3131318f;
}