.animation {
    opacity: 0;
    -moz-animation: anim 1s linear forwards 0s;
    -webkit-animation: anim 1s linear forwards 0s;
    -o-animation: anim 1s linear forwards 0s;
    -ms-animation: anim 1s linear forwards 0s;
    animation: anim 1s linear forwards 0s;
}

#reset {
    margin-left: 30%;
}

@-moz-keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon-bar {
    width: 90px;
    background-color: rgba(0, 0, 0, 0.897) !important;
}