<div id="id05" class="row col m-0 p-0">
  <div class="row col m-0 p-0">
    <div class="row col-12 m-0 p-0 pt-2 pb-2">
      <h2>Détail</h2>
    </div>
    <div class="row col-4 m-0 p-0">
      <table *ngIf="utilisateur" class="table table-striped table-dark">
        <tbody>
          <tr>
            <th scope="row">Id :</th>
            <td>{{utilisateur.id}}</td>
          </tr>
          <tr>
            <th scope="row">Nom :</th>
            <td>{{utilisateur.nom}}</td>
          </tr>
          <tr>
            <th scope="row">Prénom :</th>
            <td>{{utilisateur.prenom}}</td>
          </tr>
          <tr>
            <th scope="row">Nom d'utilisateur :</th>
            <td>{{utilisateur.username}}</td>
          </tr>
          <tr>
            <th scope="row">Adresse e-mail :</th>
            <td>{{utilisateur.adresseMail}}</td>
          </tr>
          <tr>
            <th scope="row">Etat :</th>
            <td>{{utilisateur.actif}}</td>
          </tr>
          <tr>
            <th scope="row">Rôle :</th>
            <td>{{utilisateur.role.nom}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
  <button class='btn btn-success' [routerLink]="['/gestion/utilisateurs']">retour à la liste</button>
  <button class='btn btn-success' [routerLink]="['/gestion/utilisateur/edit']" [queryParams]="{idUser:utilisateur.id}">editer utilisateur</button>
</div>