* {
    color: white!important;
    list-style: none;
}

.footer {
   
    background-position: center;
    height: 71px;
    background-image: url("~src/assets/footer.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
}