<div class="footer bg-dark">
    <div class="text-center">

        <ul style="float: left;">
            <li><a href="https://www.facebook.com/TsGameStudio/">Facebook</a></li>
            <li><a href="https://discord.gg/MpsXWqd">Contact</a></li>
        </ul>


        <ul>
            <li>Copyright | Développé par Anthony Godderidge | Tous droits réservés</li>
            <li>Mentions légales</li>
        </ul>

    </div>
</div>