<h3>Mise à jour</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="utilisateur.nom" name="nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input type="text" class="form-control" id="prenom" required [(ngModel)]="utilisateur.prenom" name="prenom">
    </div>
    <div class="form-group">
      <label for="username">username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="utilisateur.username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="utilisateur.password"
        name="password">
    </div>
    <div class="form-group">
      <label for="adresseMail">AdresseMail</label>
      <input type="text" class="form-control" id="adresseMail" required [(ngModel)]="utilisateur.adresseMail"
        name="emailId">
    </div>
    <div class="form-group">
      <label for="actif">AdresseMail</label>
      <input type="text" class="form-control" id="actif" required [(ngModel)]="utilisateur.actif"
        name="actif">
    </div>
   
    <div class="form-group">
      <label for="role">Role</label>
      <select id="role" name="role" required [(ngModel)]="utilisateur.role.id">
        <option *ngFor="let role of roles" value="{{role.id}}">{{role.nom}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button [routerLink]="['/gestion/utilisateur/detail']" [queryParams]="{idUser:utilisateur.id}" class="btn btn-success">retour</button>
  </form>
</div>