<table *ngIf="utilisateur" class="table table-striped table-dark"  >
    <tbody>
        <tr>
            <th scope="row">Nom :</th>
            <td>{{utilisateur.nom}}</td>
        </tr>
        <tr>
            <th scope="row">Prénom :</th>
            <td>{{utilisateur.prenom}}</td>
        </tr>
        <tr>
            <th scope="row">Nom d'utilisateur :</th>
            <td>{{utilisateur.username}}</td>
        </tr>
        <tr>
            <th scope="row">Date de naissance :</th>
            <td>{{utilisateur.dateAge |  date:'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
            <th scope="row">Age :</th>
            <td>{{age}} ans</td>
        </tr>
        <tr>
            <th scope="row">Adresse e-mail :</th>
            <td>{{utilisateur.adresseMail}}</td>
        </tr>
       
    </tbody>
</table>