<div class="row col-12 m-0 p-0" style="width: 100%;height: 710px;">
    <div 
        class="row col-12 border-top-0 border-left-0 border-right-0 border border-dark justify-content-center m-0 mt-5 mb-4 p-0 pb-2" >
        <fa-icon class="img-fluid rounded mx-auto d-block fa-3x text-warning" [icon]="faUserShield"></fa-icon>
    </div>
    <div class="row col-12" >
        <ul class="nav flex-column">
            <li class="nav-item">
                <h4><a class="nav-link" routerLink="/gestion/">
                        <fa-icon class="img-fluid rounded mx-auto fa-1x text-primary" [icon]="faHome"></fa-icon> Panel
                        Admin
                    </a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link text-primary" routerLink="/gestion/utilisateurs">
                        <fa-icon class="img-fluid rounded mx-auto fa-1x text-primary" [icon]="faUser"></fa-icon>
                        Utilisateurs
                    </a></h4>
            </li>
            <li class="nav-item">
            </li>
        </ul>
    </div>
</div>