* {
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

.p-grid {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(255, 255, 255)!important;
}

.p-col {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

#principal {
    background-color: black;
    background-position: center;
    height: 100px;
    background-image: url('~src/assets/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}


@media (min-width: 0px) {
    .hide {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .hide {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .hide {
        display: none;
    }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .hide {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .hide {
        display: block;
    }
}